# Speedjob Service

[Unit]
Description = JobApp S3 Site

[Service]
ExecStart = python3 /home/pi/S3Speedjob/speedjob/manage.py runserver 0.0.0.0:80

[Install]
WantedBy=multi-user.target
