

{% extends 'jobapp/header.html' %}

  {% block content %}

  <style>
    .company {
        text-decoration: none;
        color: black;
    }

    .company:hover{
      animation-name: fade;
      animation-duration: .5s;
    }

    @keyframes fade {
      from { color: black; text-decoration: none;}
      to {color: white; text-decoration: underline;}
    }
  </style>

      <div class="text-center">
        <ul class="list-group">
      {% for company in companies %}
      {% if company.company_approved == True %}
        <h3><li><a class="company" href={% url 'company' company.id %}>{{company.id}} Name: {{company.company_name}} Descr: {{company.company_description}}</li></h3>
      {% endif %}
      {% endfor %}
    </ul>
    </div>

  {% endblock %}
