{% extends 'jobapp/header.html' %}

{% block content %}

{% load static %}
<link href="{% static 'jobapp/css/companies.css' %}" rel="stylesheet">

<div class="text-center">
  <div class="content_block">
    <ul class="list-group">
      {% for company in companies %}
      {% if company.company_approved == True %}
      <h3>
        <li><a class="company" href={% url 'company' company.id %}>{{company.id}} Name: {{company.company_name}} Descr: {{company.company_description}}</li>
      </h3>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
