{% extends 'jobapp/header.html' %}

{% block content %}

{% load static %}
<script src="{% static 'jobapp/js/html.js' %}"></script>


<div class="text-center">
  <div class="content_block">
    <div class="text-center">
      {% if user.is_authenticated %}
      <h1>Hello, {{user.username}}. You're on the SpeedJob S3 Website!</h1>
      {% else %}
      <h1>Hello, unknown. You're on the SpeedJob S3 Website!</h1>
      {% endif %}

      {% if DEBUG %}
      <h2> DEBUG MODE IS ENABLED </h2>
      {% endif %}

      {% load static %}
      <img id="replaceable" class="hideOnMobile rounded_corners" style="cursor:pointer; "onclick="change()" src="{% static 'jobapp/img/yeah_baby.gif' %}">

      {% if users %}
      <br>
      <div class="content_block" style="width:30%">
        <div class="text-center">
      <h2>Team:</h2>
      <ul>
      {% for acc in users %}
          <a href='{% url 'profiles' acc.username %}'>
            <img src="{{acc.profile.image.url}}" style="width:20%; height:20%;" class="rounded_corners">
            <li> {{acc.username}} </li></a>

      {% endfor %}
    </ul>
    </div>
    </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
