{% extends 'jobapp/header.html' %}

{% block content %}

{% load static %}
<script src="{% static 'jobapp/js/html.js' %}"></script>

<style>
  @media only screen and (max-width: 760px) {
  .onlyPC { display: none; }
}
  </style>
<div class="text-center">
  <div class="content_block">
    <div class="text-center">
      {% if user.is_authenticated %}
      <h1>Hello, {{user.username}}. You're on the SpeedJob S3 Website!</h1>
      {% else %}
      <h1>Hello, unknown. You're on the SpeedJob S3 Website!</h1>
      {% endif %}

      {% if DEBUG %}
      <h2> DEBUG MODE IS ENABLED </h2>
      {% endif %}

      {% load static %}
      <img id="replaceable" class="onlyPC" style="cursor:pointer;"onclick="change()" class="rounded_corners" src="{% static 'jobapp/img/yeah_baby.gif' %}">

      {% if users %}
      <h2>Team:</h2>
      <ul>
      {% for acc in users %}
          <a href='{% url 'profiles' acc.username %}'>
            <img src="{{acc.profile.image.url}}" style="width:5%; height:5%;">
            <li> {{acc.username}} </li></a>

      {% endfor %}
    </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
