{% extends 'jobapp/header.html' %}

{% block content %}

{% load static %}
<script src="{% static 'jobapp/js/html.js' %}"></script>
<div class="text-center">
  <div class="content_block">
    <div class="text-center">
      {% if user.is_authenticated %}
      <h1>Hello, {{user.username}}. You're on the SpeedJob S3 Website!</h1>
      {% else %}
      <h1>Hello, unknown. You're on the SpeedJob S3 Website!</h1>
      {% endif %}

      {% if DEBUG %}
      <h2> DEBUG MODE IS ENABLED </h2>
      {% endif %}

      {% load static %}
      <img id="replaceable" style="cursor:pointer;"onclick="change()" class="rounded_corners" src="{% static 'jobapp/img/yeah_baby.gif' %}">
    </div>
  </div>
</div>

{% endblock %}
